.historyCard,
.historyCardReverse {
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: center;
}

.historyCardReverse {
    flex-direction: row-reverse;
}

.imgCard {
    height: 15vw;
    border-radius: 15px;
}

.containerImg {
    display: flex;
    width: 45%;
    justify-content: center;
    margin-right: 40px;
}

.containerText {
    display: flex;
    width: 50%;
    margin-right: 40px;
    align-items: center;
    flex-direction: column;
    text-align: left;
}

.tittleCard {
    font-weight: 600;
    font-size: 8vmin;
    padding-bottom: 40px;
    color: #dadada;
}