.containerSkills {
    height: 90vh;
    display: flex;
    justify-content: center;
}

.SkillsComponent {
    background: var(--firt-color);
    border-radius: 70px;
    width: 80%;
    height: 60vh;
    color: white;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    align-items: center;
}

.tittleSkills {
    text-align: center;
    font-size: 50px;
    font-weight: 500;
    letter-spacing: 2px;
    padding: 100px 0 50px 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
}

.SkillsComponent span {
    width: 80%;
    line-height: 15px;
    display: block;
    color: var(--three-color);
}

.iconSkills {
    height: 80px;
    width: 80px;
}

.contentSkills {
    justify-content: space-around;
    padding-top: 80px;
    padding-bottom: 30px;
    display: flex;
    width: 60%;
}