.imgCardProject {
    width: 100%;
}

.cardProject {
    transition: .7s;
    width: 500px;
    height: 300px;
    padding: 10px;
}

.cardProject:hover {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background: #262626;
    border-radius: 10px;
    transition: .7s;
    transform: scale(1.1);
    cursor: pointer;
}

.containerTechnology {
    display: flex;
    justify-content: space-between;
    padding: 7px 30px;
    width: 70%;
}