:root {
  --first-color: #5740A9;
  --second-color: #ac7d54;
  --three-color: #579bde;
  --four-color: #000000;
  --subtitle-color: #CAC4C4;
}

.App {
  width: 100%;
  background-color: var(--four-color);
  font-family: monospace;
}