.containerAboutMe {
    display: flex;
    height: 100vh;
    background-image: url("../../assets/img/banner-bg.png");
}

.imgAboutMe {
    width: 640px;
    height: 100%;
    resize: both;
    overflow: auto;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
}

.imgAboutMe img {
    width: 95%;
    height: 70%;
    animation: 4s ease-in-out 0s infinite alternate sun-rise;
}

.tittleAboutMe {
    width: 60%;
    padding: 0 120px;
    gap: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 1;
}

.containerAboutMe::before {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px inset, rgba(0, 0, 0, 0.12) 0px 4px 6px inset, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px inset;
    content: "";
    width: 100%;
    position: absolute;
    height: 100vh;
    background: linear-gradient(90deg, #000000 0%, #00000000 60%);
}

.tittleAboutMe h3 {
    font-size: 3em;
    color: white;
    height: 14%;
    padding: 5px;
}

.tittleAboutMe span {
    color: var(--three-color);
    line-height: 15px;
}

.buttonContactMe{
    border-color: var(--second-color) !important;
    color: var(--second-color) !important;
}

@keyframes sun-rise {
    from {
        /* pushes the sun down past the viewport */
        transform: translateY(2vh);
    }

    to {
        /* returns the sun to its default position */
        transform: translateY(-10vh);
    }
}